#blockchains-table {margin-top:40px;}
#blockchains-table #th1{width:120px;}
#blockchains-table #th2{width:300px;}
#blockchains-table #th3{width:200px;}
#blockchains-table #th4{width:120px;}
#blockchains-table #th5{width:200px;}
#blockchains-table #th6{width:120px;}