#entities-table {margin-top:40px;}
#entities-table #th1{width:150px;}
#entities-table #th2{width:200px;}
#entities-table #th3{width:100px;}
#entities-table #th4{width:200px;}
#entities-table #th5{width:200px;}
#entities-table #th6{width:120px;}