#exchange-table {margin-top:40px;}
#exchange-table #th1{width:400px;}
#exchange-table #th2{width:180px;text-align:center;}
#exchange-table #th3{width:180px;text-align:center;}
#exchange-table #th4{width:180px;text-align:center;}
#exchange-table #th5{width:180px;text-align:center;}
#exchange-table #td2{text-align:center;}
#exchange-table #td3{text-align:center;}
#exchange-table #td4{text-align:center;}
#exchange-table #td5{text-align:center;}