#featuresA-table {margin-top:20px;}
#featuresA-table #th1{width:400px;}
#featuresA-table #th2,#th3,#th4,#th5{width:180px;text-align:center;}
#featuresA-table #td2,#td3,#td4,#td5{text-align:center;}

#featuresB-table {margin-top:30px;}
#featuresB-table #th1{width:300px;}
#featuresB-table #th2,#th3,#th4{width:120px;text-align:center;}
#featuresB-table #td2,#td3,#td4{text-align:center;}

#featuresC-table {margin-top:30px;}
#featuresC-table #th1{width:300px;}
#featuresC-table #th2,#th3{width:120px;text-align:center;}
#featuresC-table #td2,#td3{text-align:center;}