#payments-table {margin-top:40px;}
#payments-table #th1{width:400px;}
#payments-table #th2{width:140px;text-align:center;}
#payments-table #th3{width:140px;text-align:center;}
#payments-table #th4{width:140px;text-align:center;}
#payments-table #th5{width:140px;text-align:center;}
#payments-table #th6{width:140px;text-align:center;}
#payments-table #td2{text-align:center;}
#payments-table #td3{text-align:center;}
#payments-table #td4{text-align:center;}
#payments-table #td5{text-align:center;}
#payments-table #td6{text-align:center;}