#payments-table {margin-top:20px;}
#payments-table #th1{width:400px;}
#payments-table #th2,#th3,#th4,#th5,#th6{width:140px;text-align:center;}
#payments-table #td2,#td3,#td4,#td5,#td6{text-align:center;}