#contracts-table {margin-top:40px;}
#contracts-table #th1{width:320px;}
#contracts-table #th2{width:220px;text-align:center;}
#contracts-table #th3{width:220px;text-align:center;}
#contracts-table #th4{width:220px;text-align:center;}
#contracts-table #td2{text-align:center;}
#contracts-table #td3{text-align:center;}
#contracts-table #td4{text-align:center;}