#stablecoins-table{margin-top:15px;}
#stablecoins-table #th1{width:150px;}
#stablecoins-table #th2{width:120px;}
#stablecoins-table #th3{width:120px;}
#stablecoins-table #th4{width:400px;}
#stablecoins-table #th5{width:150px;}
#stablecoins-table #th6{width:120px;}