#witnesses-table {margin-top:40px;}
#witnesses-table #th1{width:120px;}
#witnesses-table #th2{width:120px;}
#witnesses-table #th3{width:500px;}
#witnesses-table #th4{width:300px;}
#witnesses-table #th5{width:200px;}