#witnesses-table {margin-top:40px;}
#witnesses-table #th1{width:200px;}
#witnesses-table #th2{width:120px;}
#witnesses-table #th3{width:100px;}
#witnesses-table #th4{width:250px;}
#witnesses-table #th5{width:250px;}
#witnesses-table #th6{width:150px;}