#workers-table {margin-top:40px;}
#workers-table #th1{width:150px;}
#workers-table #th2{width:100px;}
#workers-table #th3{width:100px;}
#workers-table #th4{width:400px;}
#workers-table #th5{width:120px;}
#workers-table #th6{width:120px;}