body{
	background-color:#2C3539;
	font-family:Helvetica,Arial,sans-serif;
}
#title{
	text-align:center;
	font-size:44px;
	color:#aaa;
	margin-top:20px;
}
#timestamp{
	text-align:center;
	font-size:14px;
	color:#888;
}
table{
	border:1px solid #2C3539;
	border-collapse:collapse;
	font-size:80%;
	margin:30px auto;
	table-layout:fixed;
	width:1200px;
}
td,th{
	border:1px solid #2C3539;
	border-collapse:collapse;
	padding:3px;
}	
caption{
	color:#eee;
	font-size:140%;
	padding:5px;
	text-align:left;
}
thead th{
	background:#eee;
	text-align:left;
	color:#666;
	font-style:italic;
}
tbody td{
	background:#626666;
	color:white;
}

tbody tr td.highlightMed{
	color:yellow;
}
tbody tr td.highlightTop{
	color:#FFA62F;
}

tbody tr.funded td{
	background:#566D7E;
}
tbody tr.funded td a{

}

tbody tr.done td{
	background:#92A9BA;
	color:#444;
}
tbody tr.done td a{
	color:#444;
}

a{
	color:#ddd;
	text-decoration:none;
}

.links div{
	display:inline;
}
.link{
	padding-right:10px;
}

#th1{width:250px;}
#th2{width:150px;}
#th3{width:60px;text-align:center;}
#th4{text-align:center;}
#th4,#th5,#th6,#th7,#th8{width:120px;}
#th9{width:150px;}

#td3{text-align:center;}
#td4{text-align:right;padding-right:20px;}
