table {
	border:1px solid #000;
	border-collapse:collapse;
	font-family:arial,sans-serif;
	font-size:80%;
	margin-top: 20px;
}
td,th{
	border:1px solid #000;
	border-collapse:collapse;
	padding:5px;
}	

caption{
  background:#ccc;
	font-size:140%;
	border:1px solid #000;
	border-bottom:none;
	padding:5px;
	text-align:left;
}
thead th{
	background:#9cf;
	text-align:left;
}
tbody th{
	background:#69c;
	text-align:left;
}
tbody td{
	background:#eee;	
}

tbody tr.done th{
	background:#ccc;
	color:green;
}
tbody tr.done td{
	background:#ddd;
	color:green;
}
tbody tr td.overlap{
	background:orange;	
}

.links div {
  display: inline;
}
.link {
  padding-right: 10px;
}

#th1{width:250px;}
#th2{width:150px;}
#th3{width:60px;}
#th4,#th5,#th6{width:120px;}
#th7{width:150px;}
